.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20%;
}

form {
  display: inline-flex;
  background-color: blanchedalmond;
  padding: 15px;
  border-radius: 20px;
  margin: 5px;
}

#add {
  color: rgb(88, 2, 2);
  background-color: darksalmon;
  border: none;
  border-radius: 8px;
  padding: 4px;
}

#add:hover {
  color: darkred;
  background-color: orange;
  transition: ease 0.25s;
}

#input_amount {
  width: 60px;
}

ol {
  text-align: right;
}

/* ol:nth-child(odd) {
  background-color: rgb(252, 252, 181);
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 15px;
  width: 200px;

}

ol:nth-child(even) {
  background-color: orange;
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 15px;
  width: 200px;

} */

ol .itemamount {
  text-align: right;
  margin-left: 50px;
}

